<p>
  Please choose one type of coupon to create:
</p>
<table class="table table-hover">
  <tr>
    <th>Choose one action:</th>
  </tr>
  <% @coupon_types.each do |type| %>
  <tr>
    <td>
      <%= link_to type, new_coupon_type_path(type) %>
    </td>
  </tr>
  <% end %>
</table>
