<%= form_for @order.user do |f| %>
  <h1>Registration Form</h1>
  <hr />
  <%= f.fields_for :address, @order.user.address do |address| %>
    <%= render :partial => 'addresses/form', :locals => {:f => address} %>
  <% end %>
  <%= f.submit 'Submit' %>
<% end %>